img {
  display: inline-block;
  border-left: 200px;
}
section img {
  width: 100vw;
}

li img {
  width: 25vw;
}

div img {
  width: 30vw;
}
main {
  width: 100vw;
}

nav {
  display: inline-block;
}

li {
  display: inline;
}

header{
  width: 100vw;
  background-color: #DDD;
  margin: 50px 50px 50px 50px;
}

p {
  display: inline-block;
  overflow: scroll;
  width: 48vw;
}

footer {
  background-color: #DDD;
  width: 100vw;
}
