

section img {
  width: 100vw;
}

li img {
  width: 25vw;
}

div {
  width: 100vw;
}

div img {
  display: inline-block;
}

div img:first-child {
  margin-left: 200px;

}

div img:nth-child(2){
  margin-left: 30px;
  margin-right: 30px;
}

main {
  width: 960px;
}

nav {

  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 100px;
}

header{
  width: 100vw;
  background-color: #DDD;
}

p {
  display: inline-block;
  overflow: scroll;
  width: 48vw;
}

footer {
  background-color: #DDD;
  width: 100vw;
}

header img:first-child{
  display: inline-block;
}

#hero {
  width: 960px;
  height: 450px;
  margin: 30px 30px 30px 200px;
}

article {
  width: 960px;
  margin: 30px 30px 30px 200px;
}

article img{
  width: 50%;
  display: inline-block;
}

article p {
  width: 48%;
  display: inline-block;
}
